
body{
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #2C1D62, #0A051C);
    font-family: Arial, sans-serif;
}
.menu{
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    padding: 24px 40px;
}
.menu li{
    display: inline-block;
    list-style: none;
}

a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 14px;
}
a:hover{
    color:#2C1D62;
}
#feedback{
   background-color: rgba(255, 255, 255, 0.02);
   color: #fff; 
   border-radius: 12px;
   backdrop-filter: blur(12px);
   -webkit-backdrop-filter: blur(12px);
   padding: 10px 20px;

}
.hero-section{
    position: relative;
}
.imagem-inicial{
    width: 100%;
    height: 650px;
    object-fit: cover;
    display: block;
}
.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 0 20px;
    width: calc(100% - 40px);
    
}
.hero-content h1{
    margin: 0;
    font-size: 46px;
    line-height: 1.05;
    
}
.hero-button{
    display: inline-block;
    padding: 14px 28px;
    background-color: #6750A4;
    color: #fff;
    border-radius: 99px;
    text-decoration: none;
    font-weight: 600;
}

strong{
    color: #6750A4;   
}
footer{
    background-color: rgba(255, 255, 255, 0.02);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 196px;
}
::selection{
    background-color: #6750A4;
    color: #fff;
}
